<html>
    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Welcome to Algosite</title>
      {% endif %}



    	<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">

      <style>
      .radio_Buy  {color: green}
      .radio_Sell {color: red}
      a {
        color: #0088cc;
        text-decoration: none;
      }
      table.main_table {
        border-spacing:0px;
      }
      tbody.config td {
        display: table-cell;
        padding: 8px;
        min-width:275px;
        border: 1px solid #dddddd;
        border-spacing: 0px;
        background-color: #f9f9f9;
      }
      .builder {
        color: silver;
      }

      </style>
    </head>
    <body>
        <div>Main page: <a href="/">Home</a></div>
        <hr>
        <h2>Algo financial data</h2>


        <form action="{{ url_for('plot_chart') }}" method="post">

              {{ form.hidden_tag() }}
              <table class = "main_table">
                <thead class="builder">
                  <tr>
                    <th>Definition</th>
                    <th>Periods</th>
                    <th>Chart	Combinations</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class = "config">
                  <tr>
                    <td>
              <div class="form-group">
                  {{ form.multi_select.label }}
                  <small class="text-muted">{{ form.multi_select.description }}</small>
                  {{ form.multi_select(class_="form-control") }}

                  {% for error in form.multi_select.errors %}
                  <span class="label label-danger">{{ error }}</span>
                  {% endfor %}
              </div>


              <div class="form-group">
                  {{ form.single_select.label }}
                  <small class="text-muted">{{ form.single_select.description }}</small>
                  {{ form.single_select(class_="form-control") }}

                  {% for error in form.single_select.errors %}
                  <span class="label label-danger">{{ error }}</span>
                  {% endfor %}
              </div>
            </td><td>
              <div class="form-group">
                {{ form.startdate.label }}
                   {{ form.startdate }}<br>
                {{ form.enddate.label }}
                   {{ form.enddate }}<br>

                 {% for subfield in form.radio %}
                     {{ subfield }}
                     {{ subfield.label(class="radio_" ~ subfield.label.text) }}
                 {% endfor %}

              </div>
            </td><td>
              <div class="form-group">
                {{ form.y5 }}{{ form.y5.label }}<br>
                {{ form.y10 }}{{ form.y10.label }}<br>
                {{ form.y15 }}{{ form.y15.label }}<br>
                {{ form.y20 }}{{ form.y20.label }}<br>
              </div>

            </td><td>
              {{ form.interactive }}{{ form.interactive.label }}<br>
              {{ form.submit(class_="btn btn-primary") }}
            </td></tr></tbody></table>
          </form>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
          <script type="text/javascript">
          $(document).ready(function() {
              // https://select2.github.io/examples.html
              $("select").select2({width: '300px' });

              function formatRepo (repo) {
                  if (repo.loading) return repo.text;

                  var markup = "<div class='select2-result-repository clearfix'>" +
                  "<div class='select2-result-repository__avatar'><img src='" + repo.owner.avatar_url + "' /></div>" +
                  "<div class='select2-result-repository__meta'>" +
                  "<div class='select2-result-repository__title'>" + repo.full_name + "</div>";

                  if (repo.description) {
                      markup += "<div class='select2-result-repository__description'>" + repo.description + "</div>";
                  }

                  markup += "<div class='select2-result-repository__statistics'>" +
                  "<div class='select2-result-repository__forks'><i class='fa fa-flash'></i> " + repo.forks_count + " Forks</div>" +
                  "<div class='select2-result-repository__stargazers'><i class='fa fa-star'></i> " + repo.stargazers_count + " Stars</div>" +
                  "<div class='select2-result-repository__watchers'><i class='fa fa-eye'></i> " + repo.watchers_count + " Watchers</div>" +
                  "</div>" +
                  "</div></div>";

                  return markup;
              }

              function formatRepoSelection (repo) {
                  return repo.full_name || repo.text;
              }

          });
          </script>
          <hr>
        {% block content %}{% endblock %}



    </body>
</html>
